.imagesOfRecommendation{
    display: flex;
    justify-content: center;
}

.imgforRecomendTo{
    width: 250px;
    padding: 10px;
    border-radius: 20px;
}

.recomendedMoviesText{
    margin-left: 120px;
    margin-top: 10px;
    font-weight: bold;
}

.flexDirectionRecomed{
    display: flex;
    flex-direction: column;
    

}

.labelforRecommedation_title{
    font-weight: bold;
    font-size: large;
    margin-left: 10px;
}

.labelforRecommedation_category{
    color: gray;
    width: 85%;
    margin-left: 10px;
}

.adAfterRecommendation{
    width: 100%;
    display: flex;
    padding: 100px;

}

.liveEventsImages_section{
    display: flex;
    width: 40px;
}

.liveEventsImages_images{
    border-radius: 20px;
    padding: 10px;
}