
.navbarBGcolor{
    background-color: #333545;
 
}

.bookMyshowLogo{
    width: 200px;
}

.links{
    color: white !important;
}

.signInbutton{
    background-color: #f84464;
    border: none;
    width: 100px;
}

.headerSignIn{
    display: flex;
    width: 100% !important;
    float: right;
    justify-content: end;
}


.nichewalaNavbar{
    background-color: #222539;
    
}

.leftSideLinks{
    color: #bfbfcc;
}

.RightSideLinks_1{
    width: 60%;
    display: flex;
    justify-content: right;
}


.RightSideLinks{
    color: white;
}

.slide{
    border: 8px solid #ebebeb;
}
